#intro.hero, .overlay{
  min-height: calc(100vh - 59px);
  max-height: calc(100vh - 59px);
}

.overlay {
  background: rgba(81, 163, 167, 0.5);
  background: -webkit-linear-gradient(to right, #007991, #51a3a7);
  background: linear-gradient(to right, #007991, #51a3a7);
}

#posterwall {
  padding: 0;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab, #51a3a7, #007991);
  background-size: 400% 400%;
  animation: gradient 15s ease-in-out infinite;
}

#posterwall:hover * {
  text-decoration:underline;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.lg-sub-html {
  background: rgba(0, 0, 0, 0.35);
    padding-top: 1rem !important;
}